@{
    ViewData["Title"] = "Acerca";
}


<h1>Contenido</h1>

<p>Proyecto de prueba técnica. Caso de uso, realizar el muestreo de datos de climas de determinadas Zonas y guardar el Histórico de consultas.   </p>
